{% include 'head.twig' %}
{% include 'navbar.html.twig' %}
<div class="msg_order">Ваш заказ</div>
<div id="list_product">
  <form method="post" action="/check">
    <div class="table-wrap">
      <table class="table">
        <thead class="order_thead">
        <tr>
          <th>№</th>
          <th>Фото</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Кол-во</th>
          <th>Сумма</th>
          <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for index in results %}
          <tr>
            <th scope="row">{{ index.num }}</th>
            <td><img src="{{ index.img }}" style="width: 40px; border: 1px solid black;" class="enter"></td>
            <td>{{ index.name }}</td>
            <td>{{ index.price }}</td>
            <td><div class="form-group">
                <input type="text" class="form-control" id="countInput" name="count" value="{{ index.count }}" style="width: 80px;">
                <input type="hidden" name="id" value="{{ index.id }}:{{ index.count }}">
                </div>
            </td>
            <td>{{ index.count * index.price }}</td>
            <td><div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" name="del" value="{{ index.id }}">
                </div>
            </td>
          </tr>
        {%  endfor %}
        </tbody>
      </table>
    </div>
    <div id="reply">
      <p style="display: none;">{{ reply }}</p>
      <p id="itogo"></p>
    </div>
    <button type="submit" class="btn btn-primary">Пересчитать</button>
  </form>

  <form method="post" action="/check/order">
    <div class="form-check">
      <h4>Способ оплаты</h4>
      <input class="form-check-input" type="radio" name="payment" id="payment" value="option1" checked>
      <label class="form-check-label" for="payment">
        Наличными при получении
      </label>
      <p>Рассчитаться можно с курьером наличными при получении товара</p>
    </div>
    <div class="form-check">
      <h4>Способ доставки</h4>
      <input class="form-check-input" type="radio" name="delivery" id="delivery" value="option1" checked>
      <label class="form-check-label" for="delivery">
        Курьером
      </label>
      <p>Товар вы можете получить по прибытию в наш офис</p>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Контактный телефон:</label>
      <input type="text" class="form-control order-control" id="phone"  name="phone">
    </div>
    <div class="form-group">
      <label for="address">Адрес доставки:</label>
      <textarea class="form-control order-control" id="address" name="address" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Оформить</button>
  </form>

</div>



<script>
  let txt = $('#reply>p').text();
  if(txt != ""){
    let reply = JSON.parse(txt);
    if(reply.count != 0){
      set_cookie('count', reply.count);
      set_cookie('price', reply.price);
      set_cookie('uid', reply.uid);
      let itogo = document.getElementById('itogo');
      itogo.innerHTML = "Всего " + reply.count +  " на сумму " + reply.price + " руб.";
    }else{
      del_cookie('count');
      del_cookie('price');
      del_cookie('uid');
    }
  }
  

  function del_cookie(name) {
    document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  };
  function set_cookie (name, value, exp_y, exp_m, exp_d, path, domain, secure){
    let cookie_string = name + "=" + encodeURIComponent(value);
    cookie_string += "; path='/'";
    if(exp_y){
      let expires = new Date ( exp_y, exp_m, exp_d );
      cookie_string += "; expires=" + expires.toGMTString();
    }
    if(path)
      cookie_string += "; path=" + encodeURIComponent(path);
    if(domain)
      cookie_string += "; domain=" + encodeURIComponent(domain);
    if(secure)
      cookie_string += "; secure";

    document.cookie = cookie_string;
  };

  // console.log(reply);
</script>
<script src="/js/databox.js"></script>
<script>
  let drop = 0;
  let lastTime = 0;  
  let delay = 300;

  document.body.addEventListener('click', function(ev){
    let elem = document.getElementById('popup');
    if(elem == undefined) return;
    $(document.body).removeClass('backgrd-color');  
    elem.remove();
  }, true);

  let enter = document.querySelectorAll('.enter');

  for(let i = 0; i < enter.length; i++){
    enter[i].addEventListener('click', (ev)=>{
      let elemdiv = ev.target;
      let img = ev.target.src;
      let popup = `
      <div id="popup">
        <div class="popup-wrap">
          <button class="module-close fa"></button>
          <img src="${img}" alt="test">
        </div>
      </div>
      `;
      let body = document.body;
      $(body).addClass('backgrd-color');
      body.insertAdjacentHTML("beforeEnd", popup);
      
      let wnd_popup = document.getElementById('popup');
      wnd_popup.style.display = 'block';
      lastTime = performance.now();
      update();
    });
  }

  function update(time = 0){
    const delta = time - lastTime;
    lastTime = time;
    drop += delta;
    
    let widthScreen = document.documentElement.clientWidth;
    let heightScreen = document.documentElement.clientHeight;
    let wnd_popup2 = document.getElementById('popup');
    let dd = drop/delay;
    let imgW = wnd_popup2.querySelector('img').width;
    let imgH = wnd_popup2.querySelector('img').height;
    let stepX = ((widthScreen - 600)/2) * dd;// размер картинки 600x390
    let stepY = ((heightScreen - 392)/2) * dd - 150;
    let stepW = 600 * dd;
    let stepH = 392 * dd;
    
    wnd_popup2.style.left = stepX + 'px';
    wnd_popup2.style.top = stepY + 'px';
    wnd_popup2.style.width = stepW + 'px';
    wnd_popup2.style.height = stepH + 'px';
    wnd_popup2.style.opacity = dd;
    
    if(drop > delay){
      drop = 0;
      wnd_popup2.style.width = 'auto';
      wnd_popup2.style.height = 'auto';
      wnd_popup2.style.opacity = 1;
      return;
    }

    requestAnimationFrame(update);
  };
</script>
<script src="/js/bootstrap.min.js"></script>