<div class="main-content">
  <div class="col-md-12">
    <div class="main-header">
      <h2>МЫ ПРЕДЛАГАЕМ</h2>
    </div>
  </div>
  <div class="container container-center" id="main-menu">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4 color-my">
            <a href="#" class="menu-list">меню на неделю</a>
          </div>
          <div class="col-sm-4 color-my">
            <a href="#" class="menu-list">Новогоднее меню</a>
          </div>
          <div class="col-sm-4 color-my">
            <a href="#" class="menu-list">Званый/обед ужин</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Меню на текущую неделю</h2>

        <div class="row" id="row-id">
          {{ data }}
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a class="page-link" href="/" aria-label="Previous" data-pid="prev">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {#{% for ind in  %}#}
        <li class="page-item {{ active[0] }}"><a class="page-link" href="/" data-pid="{{ page[0] }}">{{ page[0] }}</a></li>
        <li class="page-item {{ active[1] }}"><a class="page-link" href="/" data-pid="{{ page[1] }}">{{ page[1] }}</a></li>
        <li class="page-item {{ active[2] }}"><a class="page-link" href="/" data-pid="{{ page[2] }}">{{ page[2] }}</a></li>
        <li class="page-item {{ active[3] }}"><a class="page-link" href="/" data-pid="{{ page[3] }}">{{ page[3] }}</a></li>

        <li class="page-item">
          <a class="page-link" href="/" aria-label="Next" data-pid="next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

</div>

<div class="about-img" id="about">
  <div class="about-main">
    <div class="container anim-txt">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="about-header">
            <h2>About Us</h2>
            <p><b>Food City</b> - проект, целью которого облегчить приготовление вкусной домашней еды! 
              Миссия компании - создание сообщества людей объединенных стремлением узнать больше о кулинарии, 
              происхождении и разнообразии продуктов и способов их приготовления, для поддержания хорошей 
              физической формы, здорового образа жизни и хорошего настроения. 
              Мы разработали уникальные рецепты на каждый день и создали простой и понятный 
              алгоритм заказа и доставки еды. 
              Для удобства клиентов мы выбрали оптимальный формат ужинов в двух самых 
              популярных сегментах: «семейный» и «премиум». 
              В семейной категории вы найдете простые и вкусные блюда, которые легко приготовить самому. 
              «Премиум» вариант – более дорогие ингредиенты, немного экзотических продуктов и блюда ресторанного уровня. 
              Вместе мы создадим новое идеальное меню, которое поднимет вас на новый уровень кулинарного искусства!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pay" id="pay">
  <div class="container anim-txt">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="about-header">
          <br>
          <h2>Доставка и оплата</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Repudiandae temporibus, natus amet quae nemo commodi necessitatibus 
            dignissimos animi atque dolorem est totam. Saepe, sed ab animi velit cupiditate enim iusto.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Repudiandae temporibus, natus amet quae nemo commodi necessitatibus 
            dignissimos animi atque dolorem est totam. Saepe, sed ab animi velit cupiditate enim iusto.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="advice">

</div>
<div class="footer">
  <div class="container">
    <div class="copy">
      Copyright Доставка продуктов с рецептами © 2019
    </div>
  </div>
</div>
