{% include 'head.twig' %}
{% include 'navbar.html.twig' %}
<div class="msg_order">Заказ № {{ ordernum }}</div>

  <div id="list_product">
    <form method="post" action="/check">
      <table class="table">
        <thead>
        <tr>
          <th>Фото</th>
          <th>№</th>
          <th>Наименование</th>
          <th>Цена</th>
          <th>Кол-во</th>
          <th>Сумма</th>
          
        </tr>
        </thead>
        <tbody>
        {% for index in results %}
          <tr>
            <th>{{ index.num }}</th>
            <td><img src="{{ index.path }}" style="width: 40px;"></td>
            <td>{{ index.header }}</td>
            <td>{{ index.price }}</td>
            <td>{{ index.count }}</td>
            <td>{{ index.count * index.price }}</td>
            
          </tr>
        {%  endfor %}
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:20px;" class="table table-hover">
        <tbody><tr valign="top">
          <td><h3 style="font-size: 1.25em">К оплате</h3></td>
          <td id="order_topay" style="text-align:right;padding-left:20px; font-size:16px;">{{ allprice }} руб</td>
          </tr>
        </tbody>
      </table>
    </form>
    <h1 style="font-size: 2em;">Заказ № {{ ordernum }}</h1>
    <div id="order-info" class="commFl" style="margin-top:20px;">
      <div id="order-field-1-block" class="order-fname">Контактный телефон</div>
      <div class="order-field">{{ phone }}</div>
      <div id="order-field-2-block" class="order-fname">Адрес доставки</div>
      <div class="order-field">{{ addr }}</div>
    </div>

    <div style="padding:20px 0; text-align:right; font-style: italic;">
      <b>Заказ принят:</b> {{ date }} 
    </div>
  </div>


  <div class="footer">
    <div class="container">
      <div class="copy">
        Copyright Доставка продуктов с рецептами © 2019
      </div>
    </div>
  </div>
<script src="/js/bootstrap.min.js"></script>
